<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rates of Death by Suicide - A Comparison</title>
  <script src="/static/js/mapdata.js"></script>
  <script src="/static/js/usmap.js"></script>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- ChartJS library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"></script>
  
  <!-- Plotly Library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = '/css/style.css') }}">
</head>
<body>
    <!-- Our JavaScript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <div class="col-md-12 jumbotron text-center">
        <h1>Selected Summary of Suicide Statistics</h1>
    </div>
    <div class="well">
        <h5>Select an age group</h5>
        <select id="selDataset" onchange="optionChanged(this.value)">
          <option selected value="5-14 years">5-14 Years</option>
          <option selected value="15-24 years">15-24 Years</option>
          <option selected value="25-34 years">25-34 Years</option>
          <option selected value="35-44 years">35-44 Years</option>
          <option selected value="45-54 years">45-54 Years</option>
          <option selected value="55-64 years">55-64 Years</option>
          <option selected value="65-74 years">65-74 Years</option>
          <option selected value="75-84 years">75-84 Years</option>
          <option selected value="85+ years">85+ Years</option>
        </select>
    </div>
    <div class="col-md-5">
        <div style="width: 800px;"><canvas id="lineCharts"></canvas></div>
    </div>
    <div class="col-md-6">
        <div style="width: 800px" id="pieCharts"></div>
    </div>
    <div class="col-md-7">
      <div style="width: 800px" id="pieCharts2"></div>
  </div>
  <h1>Regional Map</h1>
    <div id="map"></div>
    <style type="text/css">
  .legend{color: black; width: 100%; font-family: arial; font-size: 14px;}    
  .legend_color {display: table; width: 100%; background: white; list-style: none; margin: 0px; padding: 0px; }
  .legend_color li{width: 20%;  height: 20px; display: table-cell;}
  .legend_label {display: table; width: 100%;  padding: 0px; padding-left: 10%; padding-right: 10%; list-style: none; margin: 0px; box-sizing: border-box;}
  .legend_label li{width: 25%;  height: 20px; display: table-cell; text-align: center;}
  </style>
  <div class="legend">
    <ul class="legend_label">
      <li>12</li><li>14</li><li>17</li><li>19</li>
    </ul>
    <ul class="legend_color">
      <li style="background-color: #be9595"></li><li style="background-color: #ab7575"></li><li style="background-color: #935a5a"></li><li style="background-color: #734747"></li><li style="background-color: #543333"></li>
    </ul>
  </div>
    
      <p>This map was created and can be edited at <a href="http://simplemaps.com/custom/us/IbyKhtYd">http://simplemaps.com/custom/us/IbyKhtYd</a>
    
    
    <p>To learn how to install this map on your web page, see the <a href="http://simplemaps.com/docs">Documentation</a>.</p>
</body>
</html>